// fonts
$font_roobert_regular: 'Roobert_Regular';
$font_roobert_medium: 'Roobert_Medium';
$font_roobert_semibold: 'Roobert_SemiBold';
$font_roobert_bold: 'Roobert_Bold';
$font_icomoon: 'icomoon';

// colors
$white: #fffbf0;
$light_navy: #49517d;
$dark_navy: #1f2647;
$sky_blue: #a5c9ff;
$yellow: #fff59b;
$orange: #ee8c66;
$red: #f87171;
$green: #4ade80;

// sizes
$size_2: 2px;
$size_4: 4px;
$size_8: 8px;
$size_16: 16px;
